In [1]:
import pandas as pd
df = pd.DataFrame({'name': ['t1', 't2', 't3', 't4', 't5', 't6'], 'a' : [0,1,1,0,0,1], 'b' : [1,0,0,0,1,1]})
df

  name  a  b
0   t1  0  1
1   t2  1  0
2   t3  1  0
3   t4  0  0
4   t5  0  1
5   t6  1  1

In [2]:
for idx, row in df.iterrows(): # for each row
    row_preds = [] # empty list for row predictions

    for col_name, value in row.items(): # for each column in the row
        if value == 1: # if the value is 1
            row_preds.append(col_name) # append the column name to the list
    df.at[idx, 'drug_preds'] = row_preds
    print(row_preds)

['b']
['a']
['a']
[]
['b']
['a', 'b']

## Better way

In [0]:
def getDrugs(row):
    row_preds = []
    for col_name, value in row.items():
        if value == 1:
            row_preds.append(col_name)
    return(row_preds)

In [0]:
indy_data['drug_preds'] = indy_data.iloc[:,26:206].apply(getDrugs, axis = 1)

## Joining dataframes

In [13]:
df = pd.DataFrame({'pd': ['hi','bye','hi','hi','bye','bye','bye'],
                       'vendor_name': [10,13,31, 16, 18, 9, 43]})
other = pd.DataFrame({'pd': ['hi','bye'],
                          'mass': [10, 15]})
print(df)
print('\n')
print(other)

    pd  vendor_name
0   hi           10
1  bye           13
2   hi           31
3   hi           16
4  bye           18
5  bye            9
6  bye           43


    pd  mass
0   hi    10
1  bye    15

In [14]:
df.join(other.set_index('pd'), on = 'pd')

    pd  vendor_name  mass
0   hi           10    10
1  bye           13    15
2   hi           31    10
3   hi           16    10
4  bye           18    15
5  bye            9    15
6  bye           43    15